<!DOCTYPE html>
<html>
    
    <head>

        <title>Snowbase</title>
        <link href="//fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}"> 

    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

            <form role="search" class="navbar-form navbar-left" id="address-form">
                <div class ="form-group">
                    <label for="inputLocation" class="addressInput"></label>
                    <input id="address" size="100" type="textbox" class="form-control" id="snow_field" value="Paradise, WA">
                    <input type="submit" class="btn btn-default" value="Search" id="find_snow">
                    <input type="button" class="btn btn-primary" value="See All" id="see_all">
                </div>
            </form>
            <p class="navbar-text navbar-right"><h2 id="logo-script">&#x2744; Snowbase</h2></p>
            
        </nav>

            <div class="row">
                <div class="col-md-12 tall" id="home-row"></div>
            </div>

            <div class="row">
                <div class="col-md-6" id="left-column">
                    <div id="map-canvas"></div>
                    <div id="map-gradient-key"> Less snow</div>
                </div> 
                <div class="col-md-6" id="right-column">
                    <div id="home-div" class="home">
                        <p><center><h2>Welcome to Snowbase</h2></center><p>
                        <br>
                        <ul class="home-list"><h4><li>Up to date backcountry snow pack conditions for the western United States and Alaska.</li><p></p>
                        <li>Text alerts for new snow: easy-to-use alerts available for over 860 SnoTel mountain station locations.</li></ul></h4>
                        <br>
                        <p><center><h3>Enter location to get started.</h3></center></p><center>
                        <br>
                    </div>
                    <p class="bg-success" id="time-stamp"></p>
                    <table class="table table-hover" id="stations_data"></table>
                    <p class="bg-info" id="text-info"></p>
                </div>
            </div>

            <div class="row" id="bottom-row">
                <div class="col-md-6">
                    <div id="barchart_density" class="chart"></div>
                </div> 
                <div class="col-md-6">
                    <div id="barchart_depth" class="chart"></div>
                </div>
            </div>

        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
        <script type="text/javascript"src="//maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/maps.js') }}"></script>

    </body>

</html>