<!DOCTYPE html>
<html>
    
    <head>

        <title> Home Page </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&sensor=true"></script>
        <!-- This is for Google Maps Geocode.  Will move this to a js file in static folder -->
        <script>
        var geocoder;
        var map;
        var lat;
        var lng;
        $(document).ready(function() {
        
          initialize();

          $("#find_snow").click(function() {
            var address = $("#address").val();
            geocoder.geocode( { 'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                    });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
             //  Piera's code starts here
              var lat = results[0].geometry.location.lat();
              var lng = results[0].geometry.location.lng();
              console.log(lat, lng);

              $.post(
                "/report",
                {
                  lat: lat,
                  lng: lng
                },
                function (response) {
                  // var marker = {};
                  // console.log(response);
                  //$("#snow_report").html(response);
                  // var positions = [];
                  for (var i in response)
                  {
                    console.log(response[i].lat,response[i].lng);
                    var coordinates = new google.maps.LatLng(response[i].lat, response[i].lng);
                    // positions.push(coordinates);
                    console.log(coordinates);
                    marker = new google.maps.Marker
                      ({
                    map: map,
                    position: coordinates,
                    animation: google.maps.Animation.DROP,
                    title: "Click to view data",
                    id: response[i].name
                     });
                  }
                  // console.log("Positions: " + positions);
                },
                "json"
              );
              // Piera's code ends
            });
          });
        });

        function initialize() {
          geocoder = new google.maps.Geocoder();
          var latlng = new google.maps.LatLng(37.8717, -122.2728);
          var mapOptions = {
            zoom: 5,
            center: latlng

          }
          map = new google.maps.Map($('#map-canvas').get(0), mapOptions);
        }
        
        </script>

    </head>

    <body>

        <h4>Enter your current location</h4>
        <div id="panel">
            <input id="address" size="100" type="textbox" value="San Francisco, CA">
            <input type="button" value="Find Snow" id="find_snow">
        </div>
        <div id="map-canvas"></div>
        <div id="snow_report"></div>

    </body>

</html>