body { 
    padding: 20px;
    margin: 10px;
    font-family: 'Roboto';
    padding-top: 65px;
    /*background: url('/static/img/IMG_0706.JPG') no-repeat center center fixed; 
    background-size:100%;*/
}

h2.logo-script {
    font-family: 'Pacifico', Helvetica, sans-serif; 
}

.navbar-form .form-control {
    margin: 5px;
}

.navbar-default {
    background-color: #448AFF;
    border-color: #0D47A1;
}


#address {
    width: 30%;
}

div #welcome-text {
    /*padding:150px;*/
    background: rgba(195, 195, 195, 0.8);
}

#map-canvas {
    height: 496px;
    width: 670px;
    padding: 25px;
}

#panel {
    top: 20px;
    z-index: 5;
    background-color: #fff;
    padding: 20px;
}

.padded-info {
    padding: 5px;
}

#barchart_density
{
    margin-top: 30px;
}

#barchart_depth
{
    margin-top: 30px;
}
/*styles for d3 charts*/

.xAxis path, .xAxis line, .yAxis path, .yAxis line{
    stroke: gray;
    stroke-width: 1px;
    fill: none;
}

.bar {
    fill: #2196F3;
}

/*#linechart path {
    stroke-width: 2px;
    fill: none;
}*/

path {
    stroke: blue;
}
