body { 
padding: 20px;
margin: 20px;
font-family: 'Roboto' !important;
}

#address {
width: 30%;
}


#snow_report {
}

#map-canvas {
        height: 550px;
        /*width: 900px;*/
        padding: 20px;
}

#panel {
        top: 20px;
        z-index: 5;
        background-color: #fff;
        padding: 20px;
}

/*styles for d3*/
/* styles for bar chart */

.xAxis path, .xAxis line, .yAxis path, .yAxis line{
    stroke: darkgray;
    stroke-width: 1px;
    fill: none;
}

.bar {
    fill: orange;
}

#linechart path {
    stroke-width: 2px;
    fill: none;
}

path {
    stroke: orange;
}
