body { 
    padding: 20px;
    margin: 10px;
    font-family: 'Roboto';
    padding-top: 65px;
    /*background: url('/static/img/IMG_0706.JPG') no-repeat center center fixed; 
    background-size:100%;*/
}

h2#logo-script {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 35px;
    font-family: 'Pacifico', Helvetica, sans-serif; 
}

.navbar-form .form-control {
    margin: 5px;
}

form#address-form {
    margin-left: 5px;

}

.navbar-default {
    background-color: #448AFF;
    border-color: #0D47A1;
}


#address {
    width: 30%;
}

div #map-gradient-key {
    padding: 5px;
    width: 670px;
    background: #00e1ff; /* Old browsers */
    background: -moz-linear-gradient(left,  #00e1ff 0%, #0000ff 42%, #e10000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00e1ff), color-stop(42%,#0000ff), color-stop(100%,#e10000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #00e1ff 0%,#0000ff 42%,#e10000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #00e1ff 0%,#0000ff 42%,#e10000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #00e1ff 0%,#0000ff 42%,#e10000 100%); /* IE10+ */
    background: linear-gradient(to right,  #00e1ff 0%,#0000ff 42%,#e10000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e1ff', endColorstr='#e10000',GradientType=1 ); /* IE6-9 */

}


div #welcome-text {
    /*padding:150px;*/
    background: rgba(195, 195, 195, 0.8);
}

#map-canvas {
    height: 465px;
    width: 670px;
    padding: 25px;
}

#panel {
    top: 20px;
    z-index: 5;
    background-color: #fff;
    padding: 20px;
}

.padded-info {
    padding: 5px;
}

#barchart_density
{
    margin-top: 30px;
}

#barchart_depth
{
    margin-top: 30px;
}
/*styles for d3 charts*/

.xAxis path, .xAxis line, .yAxis path, .yAxis line{
    stroke: gray;
    stroke-width: 1px;
    fill: none;
}

.bar {
    fill: #2196F3;
}

/*#linechart path {
    stroke-width: 2px;
    fill: none;
}*/

path {
    stroke: blue;
}
