body { 
padding: 40px;
/*background-image: url("IMG_0712.JPG");*/
}

#map-canvas {
        height: 400px;
        margin: 20px;
        padding: 20px
}
#panel {
        top: 5px;
        /*z-index: 5;*/
        background-color: #fff;
        padding: 10px;
}

