body { 
padding: 20px;
margin: 20px;
font-family: 'Roboto' !important;
}

#address {
width: 30%;
}


#snow_report {
}

#map-canvas {
        height: 550px;
        /*width: 900px;*/
        padding: 20px;
}

#panel {
        top: 20px;
        z-index: 5;
        background-color: #fff;
        padding: 20px;
}

